<ol class="post-list">
    <!-- the #each Handlebars.js helper allows HTML code to render
    an object in each iteration-->
    {{#each posts as |post|}}
    <li>
       {{> post-info post}}
    </li>
    {{/each}}
</ol>